<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.angularcordovaseed" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AngularCordovaSeed</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="mark.ranosa@gmail.com" href="http://mranosa.com">
        Code Junkie
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
